<!DOCTYPE html>
<html lang="fa" direction="rtl"></html>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


<head>
<style>
	

	.center {
		text-align: center;
	}
	.text-white {
		color: white;
	}
	.stimol td,
	.stimol th {
		border: 1px solid black;
	}
	.item {
		height: 40px;
	}
</style>


</head>
<body style="direction:rtl; width:100%">
	<div class="block-content pt-1 pb-3 d-none d-sm-block">
		<div class="c-print container-xl">
			<div class="tg-wrap" style="width:100%; border:1px solid black;border-radius: 8px;">
				<table class="rounded" style="width:100%;">
					<thead>
						<tr>
							<td style="width:20%">
								<img src="{{ url('front_avatar_file_get', {id: bid.id},)}}" width="65"/>
							</td>
							<td style="width:60%; text-align:center">
								<h3 class="">{{bid.name}}</h3>
								<h5>{{ page_title }}</h5>
							</td>
							<td style="width:20%; text-align:center">
								<p class="">
                                    تاریخ:
									{% if invoiceDate is defined %}
										{{ invoiceDate }}
									{% else %}
										{{ Jdate.GetTodayDate() }}
									{% endif %}
								</p>
							</td>
						</tr>
					</thead>
				</table>
			</div>
			{% block body %}{% endblock %}
		</div>

</body>

</body></body></div></body></html>

