{% extends "pdf/base.html.twig" %}
{% block body %}
	<div style="width:100%;margin-top:5px;text-align:center;">
		<table style="width:100%;">
			<tbody>
				<tr style="text-align: center; background-color: grey; text-color: white">
					<td style="width: 35px;">ردیف</td>
					<td class="center item">کد</td>
					<td class="center item">نام و نام خانوادگی</td>
					<td class="center item">نام مستعار</td>
					<td class="center item">شرکت</td>
					<td class="center item">تلفن</td>
					<td class="center item">موبایل</td>
					<td class="center item">کل بدهکاری</td>
					<td class="center item">مانده بدهکار</td>
				</tr>
				{% for person in persons %}
					<tr class="stimol">
						<td class="center item">{{ loop.index }}</td>
						<td class="center item">{{ person.code }}</td>
						<td class="center item">{{ person.name }}</td>
						<td class="center item">{{ person.nikename }}</td>
						<td class="center item">{{ person.company }}</td>
						<td class="center item">{{ person.tel }}</td>
						<td class="center item">{{ person.mobile }}</td>
						<td class="center item">{{ person.bd | number_format }}</td>
						<td class="center item" style="direction:ltr;">{{ (person.bs - person.bd) | number_format }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
