{% extends "app/base.html.twig" %}
{% block title %}لیست راهنماها{% endblock %}
{% block body %}
    <div class="block block-rounded">
        <div class="block-header block-header-default">
            <h3 class="block-title">
                <i class="fa fa-list"></i>
                {{ block('title') }}
            </h3>
            <div class="block-options">
                <div class="block-options-item">
                    <a href="/app/guide/new" class="btn btn-success">جدید</a>
                </div>
            </div>
        </div>
        <div class="block-content">
            <table class="table table-hover table-vcenter">
                <thead>
                <tr>
                    <th class="text-center" style="width: 50px;">#</th>
                    <th>عنوان</th>
                    <th>دسته‌بندی</th>
                    <th class="text-center" style="width: 100px;">عملیات</th>
                </tr>
                </thead>
                <tbody>
                {% for index,item in items %}
                    <tr>
                    <th class="text-center" scope="row">{{ index + 1}}</th>
                        <td class="fw-semibold">
                            {{ item.title }}
                        </td>
                    <td class="fw-semibold">
                       {{ item.cat }}
                    </td>
                    <td class="text-center">
                        <div class="btn-group">
                            <a href="{{ path('app_front_guide_delete',{'id':item.id}) }}" class="btn btn-sm btn-alt-secondary" aria-label=" حذف ">
                                <i class="fa fa-times"></i>
                            </a>
                            <a href="{{ path('app_front_guide_edit',{'id':item.id}) }}" class="btn btn-sm btn-alt-secondary" aria-label=" حذف ">
                                <i class="fa fa-edit"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}