{% extends "app/base.html.twig" %}
{% block title %}افزودن API{% endblock %}
{% block body %}
    <div class="block block-rounded">
        <div class="block-header block-header-default">
            <h3 class="block-title">
                <i class="fa fa-list"></i>
                {{ block('title') }}
            </h3>
            <div class="block-options">
                <div class="block-options-item">
                    <a href="/app/api/list" class="btn btn-secondary">بازگشت</a>
                </div>
            </div>
        </div>
        <div class="block-content">
            {{ form_start(form) }}
            {{ form_row(form.title,{'attr':{'class':'mb-2'}}) }}
            {{ form_row(form.body,{'attr':{'class':'mb-2'}}) }}
            <div class="mb-4">
                {{ form_widget(form.submit) }}
                <a href="/app/api/list" class="btn btn-primary">بازگشت</a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}