{% set settings = twigFunctions.systemSettings() %}
<!DOCTYPE html>
<html dir="rtl" lang="fa">
	<head>
		<meta charset="UTF-8">
		<meta lang="fa">
		<meta content="width=device-width,initial-scale=1.0" name="viewport"/>
		<meta content="{% if block('description') %}{% block description %}{% endblock %}{% else %}{{ settings.discription }}{% endif %}" name="description"/>
		<meta content="Babak Alizadeh" name="author"/>
		<meta content="توسعه فناوری سرکش" name="publisher"/>
		<meta name="keywords" content="{{ settings.siteKeywords }},{% block keywords %}{% endblock %}">
		<title>حسابیکس -
			{% block title %}{% endblock %}
		</title>
		<meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1'/>
		<meta property="og:locale" content="fa_IR"/>
		<meta property="og:type" content="article"/>
		<meta property="og:title" content="{{ block('title') }}"/>
		<meta property="og:description" content="{% if block('description') %}{{ block('description') }}{% else %}{{ settings.discription }}{% endif %}"/>
		<meta property="og:url" content="{{ twigFunctions.getCurrentUrl() }}"/>
		<meta
		property="og:site_name" content="حسابیکس"/>
		<!-- Icons -->
		<link rel="icon" href="{{ asset('/favicon.ico') }}">
		<!-- END Icons -->
		<!-- Stylesheets -->
		<!-- Bootstrap core CSS -->
		<link
		href="betheme/css/bootstrap.min.css" rel="stylesheet"/> <!--CSS -->
		<link rel="stylesheet" href="betheme/wallet2/css/structure.css"/>
		<link
		rel="stylesheet" href="betheme/wallet2/css/wallet2.css"/>
		<!-- Revolution Slider -->
		<link
		rel="stylesheet" href="betheme/plugins/rs-plugin-6.custom/css/rs6.css"/>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}{% endblock %}
		<script type="application/ld+json">
			{"@context":"https://schema.org","@type":"FAQPage","mainEntity":[{"@type":"Question","name":"ابر چیست؟","acceptedAnswer":{"@type":"Answer","text":"ابر زیرساختی مجازی از منابع محاسباتی و ذخیره‌سازی داده است که از طریق اینترنت به کاربران ارائه می‌شود. این منابع می‌توانند شامل سرورها، فضای ذخیره‌سازی داده، شبکه‌ و تجهیزات مجازی‌سازی باشند. "}},{"@type":"Question","name":"نرم ‌افزار حسابداری ابری چیست؟ ","acceptedAnswer":{"@type":"Answer","text":"نرم افزار حسابداری ابری که به آن نرم افزار حسابداری آنلاین هم می‌گویند، نرم افزاری است که به شما کمک می‌کند دفاتر حسابداری خود را آنلاین ثبت و نگهداری کنید. نرم افزار حسابداری ابری مانند حسابیکس به جای اینکه روی رایانه رومیزی یا سرورهای سازمان (در محل مشتری) نصب شود، در فضای ابری قرار دارد. همین ویژگی باعث می‌شود تا به داده‌های مالی و امکانات سیستم از هر دستگاه آنلاینی در هر زمانی و مکانی دسترسی داشته باشید. "}},{"@type":"Question","name":"آیا امکان قطع شدن حسابیکس وجود دارد؟ ","acceptedAnswer":{"@type":"Answer","text":" 24 ساعته و با ضریب دسترسی بالای 99 درصد، دسترسی به حسابیکس وجود دارد. "}},{"@type":"Question","name":" آیا حسابیکس آنلاین است یا نیاز به دانلود و نصب نرم افزار است؟ ","acceptedAnswer":{"@type":"Answer","text":" شما نیاز به دانلود و نصب هیچ نرم افزاری ندارید. حسابیکس کاملاً آنلاین است و شما پس از ثبت نام می توانید وارد حساب کاربری خود شده و حسابداری خود را شروع کنید. "}},{"@type":"Question","name":" آیا برای اپ موبایل هزینه جداگانه ای باید بپردازم؟ ","acceptedAnswer":{"@type":"Answer","text":" خیر، اپ موبایل حسابیکس رایگان بوده و شما با همان اکانت خود که در وب سایت وارد می شوید می توانید وارد اپ موبایل هم شوید و نیازی به پرداخت هزینه جداگانه نیست. "}},{"@type":"Question","name":" چقدر طول می‌کشد تا به حسابیکس مسلط شویم؟ ","acceptedAnswer":{"@type":"Answer","text":"فقط کافی است کار با حسابیکس را آغاز کنید. متوجه می‌شوید که تجربه کاربری نرم‌افزار طوری است که با حداقل زمان به نرم‌افزار مسلط شوید.همچنین می‌توانید از بخش دانشنامه به مطالب و ویدئوهای آموزشی دسترسی داشته باشید. "}},{"@type":"Question","name":" آیا برای کار با حسابیکس نیاز به دانش حسابداری است؟ ","acceptedAnswer":{"@type":"Answer","text":"خیر، حسابیکس بگونه ای طراحی شده که تقریبا همه کارهای لازم بصورت اتوماتیک انجام می شوند. به عنوان مثال با ثبت فاکتور فروش، سند حسابداری مربوطه بصورت اتوماتیک ثبت می شود، همینطور در مورد سایر عملیات های حسابداری مثل دریافت، پرداخت، ضایعات و ...\nاگر چه حسابداران و افرادی که دانش حسابداری دارند نیز می توانند بخوبی با حسابیکس کار کنند و از مزایای دانش خود بهره ببرند. "}},{"@type":"Question","name":" نسخه پشتیبان در این نرم‌افزار چگونه تهیه می‌شود؟ ","acceptedAnswer":{"@type":"Answer","text":" حسابیکس، خودکار و روزانه، از اطلاعات شما نسخه پشتیبان تهیه می‌کند؛ بنابراین نگرانی بابت از بین رفتن اطلاعات وجود ندارد.بعلاوه بصورت خودکار هر روز از داده های کاربران نسخه پشتیبان تهیه و تمامی داده ها بصورت رمزنگاری شده روی فضای ابری نگهداری می شوند.همچنین کاربران می توانند نسخه مستقیم پایگاه داده را با تماس با بخش پشتیبانی دریافت کنند. "}},{"@type":"Question","name":" آینده نرم‌افزارهای حسابداری ابری چیست؟ ","acceptedAnswer":{"@type":"Answer","text":" به نظر می‌رسد با امکانات متمایز این تکنولوژی، در آینده نزدیک نرم‌افزارهای سنتی حذف شوند و با نرم‌افزارهای ابری جایگزین شوند. حدود 70% کسب‌وکارهای کوچک و متوسط در دنیا نرم‌افزار حسابداری ابری را به نرم‌افزار حسابداری سنتی ترجیح می‌دهند. این روند در ایران در حال شکل‌گیری است. "}},{"@type":"Question","name":" اگر اینترنت قطع شود امکان کار با حسابیکس وجود دارد؟ ","acceptedAnswer":{"@type":"Answer","text":" برای استفاده از نرم افزارهای ابری شما باید به شبکه اینترنت دسترسی داشته باشید. به دلیل استفاده حسابیکس از سرورهای داخل ایران، با قطع شدن اینترنت بین المللی امکان دسترسی به دیتا برای کاربران حسابیکس وجود دارد و با محدودیتی مواجه نخواهند شد. "}}]}</script>
		{% block javascripts %}{% endblock %}
	</head>
	<body class="home page template-slider content-brightness-dark input-brightness-light style-default button-custom layout-full-width no-shadows header-transparent sticky-header sticky-tb-color ab-hide subheader-both-center menu-link-color menuo-left menuo-no-borders logo-no-margin mobile-tb-center mobile-side-slide mobile-mini-mr-ll mobile-header-mini mobile-icon-user-ss mobile-icon-wishlist-ss mobile-icon-search-ss mobile-icon-wpml-ss mobile-icon-action-ss be-page-88">
		<div id="Wrapper">
			<div id="Header_wrapper">
				<header id="Header">
					<div id="Top_bar">
						<div class="container">
							<div class="column one">
								<div class="top_bar_right clearfix">
									<div class="logo">
										<a id="logo" href="{{path('general_home')}}" title="حسابیکس" data-height="60" data-padding="15">
											<img class="logo-main scale-with-grid svg" src="{{ asset('/img/logo-light.png') }}" data-height="" alt="wallet2" width="60"/>
											<img class="logo-sticky scale-with-grid svg" src="{{ asset('/img/logo-light.png') }}" data-height="" alt="wallet2" width="60"/>
											<img class="logo-mobile scale-with-grid svg" src="{{ asset('/img/logo-light.png') }}" data-height="" alt="wallet2" width="60"/>
											<img class="logo-mobile-sticky scale-with-grid svg" src="{{ asset('/img/logo-light.png') }}" data-height="" alt="wallet2" width="60"/>
										</a>
									</div>
									<div class="menu_wrapper">
										<nav id="menu">
											<ul id="menu-main-menu" class="menu menu-main">
												<li class="current-menu-item">
													<a href="{{path('general_home')}}">
														<span>صفحه اصلی</span>
													</a>
												</li>
												<li>
													<a href="{{path('general_help_guide')}}">
														<span>راهنمای جامع</span>
													</a>
												</li>
												<li>
													<a href="{{path('general_blog_home')}}">
														<span>وبلاگ</span>
													</a>
												</li>
												<li>
													<a href="{{path('general_sponsors')}}">
														<span>حامیان مالی</span>
													</a>
												</li>
												<li>
													<a href="{{path('general_faq')}}">
														<span>سوالات متداول</span>
													</a>
												</li>
												<li>
													<a href="{{path('general_about')}}">
														<span>درباره</span>
													</a>
												</li>
												<li>
													<a href="{{path('general_contact')}}">
														<span>تماس</span>
													</a>
												</li>
											</ul>
										</nav>
										<a class="responsive-menu-toggle" href="#" aria-label="منوی تلفن همراه">
											<i class="icon-menu-fine" aria-hidden="true"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% block top_menu %}{% endblock %}
				</header>
			</div>
			<div id="Content"> {% block body %}{% endblock %}
				</div>
				<footer id="Footer" class="clearfix">
					<div class="container">
						<div class="row">
							<div class="col-12" data-col="one">
								<hr class="no_line" style="margin: 0 auto 90px auto;"/>
							</div>
							<div class="col-md-6">
								{{settings.footerScripts | raw}}
								<div class="m-2">
									<a class="fw-semibold" href="https://github.com/morrning/hesabixUI" target="_blank">حسابیکس</a>
									با
									<i class="text-danger">افتخار</i>
									متن باز است.
								</div>
							</div>
							<div class="col-md-3">
								<h6>برنامه‌ها و افزونه‌ها</h6>
								<ul>
									<li><ahref="{{ path('general_apps_woocommerce') }}" data-type="URL" data-id="about.html">افزونه ووکامرس حسابیکس</a></li>
									<li><ahref="{{ path('general_apps_repservice') }}" data-type="URL" data-id="security.html">افزونه مدیریت تعمیرگاه</a></li>
									<li><ahref="{{ path('general_apps_hesabixbox') }}" data-type="URL" data-id="pricing.html">حسابیکس باکس</a></li>
								</ul>
							</div>
							<div class="col-md-3">
								<h6>راهنما و خودآموزها</h6>
								<ul>
									<li><ahref="{{ path('general_help_guide') }}" data-type="URL" data-id="about.html">راهنمای جامع</a></li>
									<li><ahref="{{ path('general_faq') }}" data-type="URL" data-id="security.html">سوالات متداول</a></li>
									<li><ahref="{{ path('general_help_api') }}" data-type="URL" data-id="pricing.html">مستندات API</a></li>
									<li><ahref="{{ path('general_changes_reports') }}" data-type="URL" data-id="pricing.html">لیست تغییرات و بروزرسانی ها</a></li>
								</ul>
							</div>
							<div class="col-12" data-col="one">
								<hr class="no_line" style="margin: 0 auto 40px auto;"/>
							</div>
						</div>
					</div>
					<div class="footer_copy">
						<div class="container">
							<div class="column one">
								<div class="copyright">
									<a href="https://parspack.com" target="_blank">
										با خاطری آسوده استوار بر روی راهکارهای ابری پارسپک
									</a>
								</div>
								<div class="text-left">
									<a href="https://www.melipayamak.com/" target="_blank">
										پیامک‌های حسابیکس از طریق ملی پیامک ارسال می‌شوند 
									</a>
								</div>
							</div>
						</div>
					</div>
				</footer>
			</div>
			<div id="body_overlay"></div>
			<div id="Side_slide" class="left dark" data-width="250">
				<div class="close-wrapper">
					<a href="#" class="close">
						<i class="icon-cancel-fine"></i>
					</a>
				</div>
				<div class="extras">
					<div class="extras-wrapper"></div>
				</div>
				<div class="menu_wrapper"></div>
			</div>
			<!-- JS -->
			<script src="betheme/js/jquery-3.6.0.min.js"></script>
			<script src="betheme/js/jquery-migrate-3.3.2.js"></script>
			<script src="betheme/js/mfn.menu.js"></script>
			<script src="betheme/js/jquery.plugins.js"></script>
			<script src="betheme/js/jquery.jplayer.min.js"></script>
			<script src="betheme/js/animations/animations.js"></script>
			<script src="betheme/js/translate3d.js"></script>
			<script src="betheme/js/scripts.js"></script>
			<script src="betheme/plugins/rs-plugin-6.custom/js/revolution.tools.min.js"></script>
			<script src="betheme/plugins/rs-plugin-6.custom/js/rs6.min.js"></script>
			<script type="text/javascript">
				var revapi1,
tpj;

function revinit_revslider11() {
jQuery(function () {
tpj = jQuery;
revapi1 = tpj("#rev_slider_1_1");
if (revapi1 == undefined || revapi1.revolution == undefined) {
revslider_showDoubleJqueryError("rev_slider_1_1");
} else {
revapi1.revolution({
sliderLayout: "fullwidth",
visibilityLevels: "1240,1240,778,778",
gridwidth: "1400,1400,778,778",
gridheight: "950,950,1100,1100",
spinner: "spinner12",
perspective: 600,
perspectiveType: "global",
spinnerclr: "#13d5ff",
editorheight: "950,768,1100,720",
responsiveLevels: "1240,1240,778,778",
progressBar: {
disableProgressBar: true
},
navigation: {
onHoverStop: false
},
fallbacks: {
allowHTML5AutoPlayOnAndroid: true
}
});
}
});
} // End of RevInitScript
var once_revslider11 = false;
if (document.readyState === "loading") {
document.addEventListener("readystatechange", function () {
if ((document.readyState === "interactive" || document.readyState === "complete") && ! once_revslider11) {
once_revslider11 = true;
revinit_revslider11();
}
});
} else {
once_revslider11 = true;
revinit_revslider11();
}
			</script>
			{{ settings.scripts | raw }}
		</body>
	</html>

