<!DOCTYPE html>
<html dir="rtl">
    <head>
        <meta charset="UTF-8">
        <meta lang="fa">
        <meta content="width=device-width,initial-scale=1.0" name="viewport"/>
        <meta content="حسابیکس اولین نرم افزار حسابداری ابری متن باز و کاملا رایگان است که توسط گروهی از توسعه دهندگان منتشر و به روز می شود.برای استفاده از حسابیکس هیچ هزینه ای دریافت نمی شود.حسابیکس بر بستر وب بوده و برای استفاده از آن لزومی به نصب نرم افزار و ... نمی باشد و تنها از طریق وب و بر روی موبایل،تبلت و رایانه به صورت همیشگی در دسترس است." name="description"/>
        <meta content="Babak Alizadeh" name="author"/>
        <meta name="keywords" content="hesabix,hesabix.ir,accounting,pshfd;s,اثسشذهط,حسابداری,حسابداری آنلاین,حسابداری رایگان,حسابداری ابری,حسابداری تحت وب,نرم افزار حسابداری,بهترین نرم افزار حسابداری آنلاین">
        <title>حسابیکس - {% block title %}{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
        <!-- Icons -->
        <link rel="icon" href="{{ asset('/favicon.ico') }}">
        <!-- END Icons -->
        <!-- Stylesheets -->
        <!-- Dashmix framework -->
        <link href="{{ asset('/assets/css/dashmix.min.css') }}" id="css-main" rel="stylesheet"/>

        <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
        <!-- <link rel="stylesheet" id="css-theme" href="assets/css/themes/xwork.min.css"> -->
        <!-- END Stylesheets -->
        <!--===== Custom Font css =====-->
        <link href="{{ asset('/assets/css/custom-fonts.css') }}" rel="stylesheet"/>
    </head>
    <body>
       <div id="page-container">
           <!-- Header -->
           <header id="page-header" class="app-header" style="background-color: #f3f9ff">
               <!-- Header Content -->
               <div class="content-header">
                   <!-- Left Section -->
                   <div class="d-flex align-items-center">
                       <!-- Logo -->
                       <img class="" src="{{ asset('/img/logo-blue.png') }}" alt="" width="32" height="32">

                       <a class="fw-semibold text-dual tracking-wide" href="{{ path('general_home') }}"><span class="opacity-75">حسابیکس</span>
                           <small class="fw-lighter d-none d-sm-block"> حسابداری ابری و رایگان</small>
                       </a>
                       <!-- END Logo -->
                   </div>
                   <!-- END Left Section -->

                   <!-- Right Section -->
                       <div>
                           <a href="https://app.hesabix.ir/user/login" class="btn btn-sm btn-primary me-1">ورود</a>
                           <a href="https://app.hesabix.ir/user/register" class="btn btn-sm btn-success">عضویت</a>
                       </div>

                   <!-- END Right Section -->
                   <!-- Toggle Main Navigation -->
                   <div class="d-lg-none push mx-0 px-0">
                       <!-- Class Toggle, functionality initialized in Helpers.dmToggleClass() -->
                       <button class="btn btn-primary d-flex justify-content-between align-items-center" data-class="d-none" data-target="#main-navigation" data-toggle="class-toggle" type="button"> <i class="fa fa-bars"></i>
                       </button>
                   </div>
                   <!-- END Toggle Main Navigation -->
               </div>
               <!-- END Header Content -->
               <!-- Header Loader -->
               <!-- Please check out the Loaders page under Components category to see examples of showing/hiding it -->
               <div class="overlay-header bg-sidebar-dark" id="page-header-loader">
                   <div class="content-header">
                       <div class="w-100 text-center">
                           <i class="fa fa-fw fa-2x fa-spinner fa-spin text-primary"></i>
                       </div>
                   </div>
               </div>
               <!-- END Header Loader -->
           </header>

           <!-- Main Container -->
           <main id="main-container">
               <!-- Navigation -->
               <div class="bg-sidebar-dark">
                   <div class="content py-1">
                       <!-- Main Navigation -->
                       <div class="d-none d-lg-block push my-1" id="main-navigation">
                           <ul class="nav-main nav-main-horizontal nav-main-hover nav-main-dark">
                               <li class="nav-main-item">
                                   <a class="nav-main-link" href="{{ path('general_home') }}">
                                       <i class="nav-main-link-icon fa fa-home"></i>
                                       <span class="nav-main-link-name"> حسابیکس </span>
                                   </a>
                               </li>
                               <li class="nav-main-item">
                                   <a class="nav-main-link" href="{{ path('general_faq') }}">
                                       <i class="nav-main-link-icon fa fa-book-atlas"></i>
                                       <span class="nav-main-link-name">  سوالات متداول  </span>
                                   </a>
                               </li>
                               <li class="nav-main-item">
                                   <a class="nav-main-link" href="{{ path('general_help_guide') }}">
                                       <i class="nav-main-link-icon fa fa-book-open-reader"></i>
                                       <span class="nav-main-link-name">  راهنمای جامع  </span>
                                   </a>
                               </li>
                               <li class="nav-main-item">
                                   <a class="nav-main-link" href="{{ path('general_blog_home') }}">
                                       <i class="nav-main-link-icon fa fa-blog"></i>
                                       <span class="nav-main-link-name"> وبلاگ </span>
                                   </a>
                               </li>
                               <li class="nav-main-item">
                                   <a class="nav-main-link" href="{{ path('general_sponsors') }}">
                                       <i class="nav-main-link-icon fa fa-users-viewfinder"></i>
                                       <span class="nav-main-link-name"> حامیان مالی </span>
                                   </a>
                               </li>
                               <li class="nav-main-item">
                                   <a aria-expanded="true" aria-haspopup="true" class="nav-main-link active nav-main-link-submenu" data-toggle="submenu" href="#">
                                       <i class="nav-main-link-icon fa fa-percentage"></i>
                                       <span class="nav-main-link-name">درباره حسابیکس</span>
                                   </a>
                                   <ul class="nav-main-submenu">
                                       <li class="nav-main-item">
                                           <a class="nav-main-link" href="{{ path('general_about') }}">
                                               <span class="nav-main-link-name">داستان حسابیکس</span>
                                           </a>
                                       </li>
                                       <li class="nav-main-item">
                                           <a class="nav-main-link" href="{{ path('general_contact') }}">
                                               <span class="nav-main-link-name">تماس با ما</span>
                                           </a>
                                       </li>
                                       <li class="nav-main-item">
                                           <a class="nav-main-link" href="{{ path('general_terms') }}">
                                               <span class="nav-main-link-name">قوانین ارائه خدمات</span>
                                           </a>
                                       </li>
                                       <li class="nav-main-item">
                                           <a class="nav-main-link" href="{{ path('general_privacy') }}">
                                               <span class="nav-main-link-name">حریم خصوصی</span>
                                           </a>
                                       </li>
                                       <li class="nav-main-item">
                                           <a class="nav-main-link" href="{{ path('general_opensource') }}">
                                               <span class="nav-main-link-name">متن باز</span>
                                           </a>
                                       </li>
                                   </ul>
                               </li>
                           </ul>
                       </div>
                       <!-- END Main Navigation -->
                   </div>
               </div>
               <!-- END Navigation -->
               <!-- Page Content -->
               <div class="m-sm-3 m-0 p-0">
                   {% block body %}{% endblock %}
               </div>
               <!-- Footer -->
               <div class="container-fluid bg-white mt-2">
                   <div class="row items-push fs-sm border-bottom border-top pt-4">
                       <div class="col-sm-12 col-md-8">
                           <div class="row">
                               <div class="col-sm-6 col-md-4">
                                   <div class="ms-2">
                                       <h3 class="fw-light">امکانات و ویژگی ها</h3>
                                       <ul class="list list-simple-mini">
                                           <li>
                                               <a class="fw-semibold" href="javascript:void(0)">
                                                   <i class="fa fa-fw fa-arrow-left text-primary-lighter"></i>
                                                   نصب، نگهداری و پشتیبانی
                                               </a>
                                           </li>
                                           <li>
                                               <a class="fw-semibold" href="javascript:void(0)">
                                                   <i class="fa fa-fw fa-arrow-left text-primary-lighter"></i>
                                                   مدیریت پیشرفته کاربران
                                               </a>
                                           </li>
                                           <li>
                                               <a class="fw-semibold" href="javascript:void(0)">
                                                   <i class="fa fa-fw fa-arrow-left text-primary-lighter"></i>
                                                   خرید و فروش
                                               </a>
                                           </li>
                                           <li>
                                               <a class="fw-semibold" href="javascript:void(0)">
                                                   <i class="fa fa-fw fa-arrow-left text-primary-lighter"></i>
                                                   هزینه و درآمد
                                               </a>
                                           </li>
                                       </ul>
                                   </div>
                               </div>
                               <div class="col-sm-6 col-md-4">
                                   <h3 class="fw-light">راهنما و خودآموزها</h3>
                                   <ul class="list list-simple-mini">
                                       <li>
                                           <a class="fw-semibold" href="/front/help/guide/general">
                                               <i class="fa fa-fw fa-book-open-reader text-primary-lighter me-1"></i> راهنمای جامع </a>
                                       </li>
                                       <li>
                                           <a class="fw-semibold" href="/front/faq">
                                               <i class="fa fa-fw fa-question-circle text-primary-lighter me-1"></i> سوالات متداول </a>
                                       </li>
                                       <li>
                                           <a class="fw-semibold" href="/front/help/api">
                                               <i class="fa fa-fw fa-server text-primary-lighter me-1"></i> مستندات API  </a>
                                       </li>
                                       <li>
                                           <a class="fw-semibold" href="/front/update-list">
                                               <i class="fa fa-fw fa-history text-primary-lighter me-1"></i>لیست تغییرات و بروزرسانی ها</a>
                                       </li>
                                   </ul>
                               </div>
                               <div class="col-sm-6 col-md-4">
                                   <ul class="list list-simple-mini">
                                       <li>
                                           <a class="fw-semibold" href="/front/blog/home">
                                               <i class="fa fa-fw fa-blog text-primary-lighter me-1"></i> وبلاگ </a>
                                       </li>
                                       <li>
                                           <a class="fw-semibold" href="/front/contact">
                                               <i class="fa fa-fw fa-paper-plane text-primary-lighter me-1"></i> تماس و پشتیبانی </a>
                                       </li>
                                       <li>
                                           <a class="fw-semibold" href="/front/about">
                                               <i class="fa fa-fw fa-hand-paper text-primary-lighter me-1"></i> درباره حسابیکس </a>
                                       </li>
                                       <li>
                                           <a class="fw-semibold" href="/front/terms"">
                                               <i class="fa fa-fw fa-wand-magic text-primary-lighter me-1"></i> قوانین ارائه خدمات </a>
                                       </li>
                                       <li>
                                           <a class="fw-semibold" href="/front/privacy">
                                               <i class="fa fa-fw fa-globe text-primary-lighter me-1"></i> حریم خصوصی </a>
                                       </li>
                                   </ul>
                               </div>
                           </div>
                       </div>
                       <div class="col-sm-12 col-md-4 text-center mt-2">
                           <div class="row">
                               <div class="col">
                                   <script src="https://www.zarinpal.com/webservice/TrustCode" type="text/javascript"></script>
                               </div>
                               <div class="col">
                                   <img src="/img/enamad-logo.png" class="img-thumbnail" style="max-height: 120px;">
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               <footer class="bg-body-light" id="page-footer">
                   <div class="content py-0">
                       <div class="row fs-sm">
                           <div class="col-sm-6 order-sm-2 mb-1 mb-sm-0 text-center text-sm-end">
                               حسابیکس با <i class="fa fa-heart text-danger"></i>
                               متن باز است.
                           </div>
                           <div class="col-sm-6 order-sm-1 text-center text-sm-start">
                               <a class="fw-semibold" href="https://github.com/morrning/hesabixUI" target="_blank">حسابیکس :  {{ twigFunctions.getHesabixLastVersionNumber() }}</a>
                           </div>
                       </div>
                   </div>
               </footer>
               <!-- END Footer -->
               <!-- END Page Content -->
           </main>
       </div>
        <script src="{{ asset("assets/js/dashmix.app.min.js") }}"></script>
    </body>
</html>
