{% extends 'blank.html.twig' %}

{% block title %}مشاهده فاکتور فروش
{% endblock %}

{% block body %}
	<main
		id="main-container">
		<!-- Hero -->
		<div class="bg-body-light d-print-none">
			<div class="content content-full">
				<div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
					<img src="/front/avatar/file/get/{{bid.id}}" class="img-fluid" width="80">
					<h2 class="flex-grow-1 fs-3 fw-semibold my-2 my-sm-3 mx-2">
						مشاهده فاکتور
					</h2>
				</div>
			</div>
		</div>
		<!-- END Hero -->

		<!-- Page Content -->
		<div
			class="content content-boxed">
			<!-- Invoice -->
			<div class="block block-rounded">
				<div class="block-header block-header-default">
					<h3 class="block-title">
						شماره فاکتور:
						<span class="text-primary">
							{{doc.code}}
						</span>
					</h3>
					<div
						class="block-options">
						<!-- Print Page functionality is initialized dmPrint() -->
						<a class="btn btn-sm btn-alt-secondary me-3" type="button" target="_blank" href="{{path('shortlinks_pdf',{bid:bid.id,link:link})}}">
							<i class="si si-printer me-1"></i>
							چاپ فاکتور
						</a>
						{% if (totalPays < doc.amount) and bid.walletEnable and doc.money.name == 'IRR' %}
							<a href="{{ path('pay_sell',{'id':doc.id}) }}" class="btn btn-sm btn-success">
								<i class="fa fa-credit-card"></i>
								پرداخت آنلاین مبلغ
								{{ (doc.amount - totalPays) | number_format }}
								{{doc.money.shortName}}
							</a>
						{% endif %}
					</div>
				</div>
				<div class="block-content">
					{% if msg == 'success' %}
						<div class="alert alert-success alert-dismissible" role="alert">
							<h3 class="alert-heading fs-4 my-2">
								<i class="fa fa-check"></i>
								نتیجه پرداخت آنلاین</h3>
							<button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
							<p class="mb-0">پرداخت فاکتور با موفقیت انجام شد. هم‌اکنون می‌توانید شماره پیگیری را از بخش پرداخت‌ها مشاهده نمایید</p>
						</div>
					{% elseif msg == 'fail' %}
						<div class="alert alert-danger alert-dismissible" role="alert">
							<h3 class="alert-heading fs-4 my-2">
								<i class="fa fa-close"></i>
								نتیجه پرداخت آنلاین</h3>
							<button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
							<p class="mb-0">پرداخت فاکتور ناموفق بود. برای پرداخت مجدد می‌توانید دوباره سعی نمایید.</p>
						</div>
					{% endif %}
					<div
						class="p-sm-2 p-xl-1">
						<!-- Invoice Info -->
						<div
							class="row mb-5">
							<!-- Company Info -->
							<div class="col-6">
								<p class="h3">
									{{bid.type}}
									:
									{{bid.name}}
								</p>
								<address>آدرس :
																																				استان
									{{bid.ostan}}
									شهرستان
									{{bid.shahrestan}}
									{{bid.address}}

								</address>
								<div>
									کد پستی:
									{{bid.postalcode}}
								</div>
								<div>
									تلفن :
									{{bid.tel}}
								</div>
								<div>
									موبایل :
									{{bid.mobile}}
								</div>
							</div>
							<!-- END Company Info -->

							<!-- Client Info -->
							<div class="col-6 text-end">
								<p class="h3">مشتری:
									{{ person.nikename }}
								</p>
								<address>آدرس :
																		استان
									{{person.ostan}}
									شهرستان
									{{person.shahr}}
									{{person.address}}

								</address>
								<div>
									کد پستی:
									{{person.postalcode}}
								</div>
								<div>
									تلفن :
									{{person.tel}}
								</div>
								<div>
									موبایل :
									{{person.mobile}}
								</div>
							</div>
							<!-- END Client Info -->
						</div>
						<!-- END Invoice Info -->

						<!-- Table -->
						<div class="table-responsive push text-center">
							<table class="table table-bordered">
								<thead>
									<tr class="bg-body">
										<th class="text-dark">ردیف</th>
										<th class="text-dark">کالا/خدمات</th>
										<th class="text-dark">شرح</th>
										<th class="text-dark">تعداد / مقدار</th>
										<th class="text-dark">مبلغ واحد</th>
										<th class="text-dark">تخفیف</th>
										<th class="text-dark">مالیات</th>
										<th class="text-dark">مبلغ کل</th>
									</tr>
								</thead>
								<tbody>
									{% set taxAll = 0 %}
									{% set rowIndex = 0 %}
									{% for item in rows%}
										{% if item.commodity %}
											{%  set taxAll = taxAll + item.tax %}
											{% set rowIndex = rowIndex + 1 %}
											<tr>
												<td>{{rowIndex}}</td>
												<td>
													{{ item.commodity.code }}
													-
													{{ item.commodity.name }}</td>
												<td>{{ item.des }}</td>
												<td>
													{{ item.commdityCount }}
													{{ item.commodity.unit.name }}
												</td>
												<td>{{ ((item.bs - item.tax + item.discount) / item.commdityCount) | number_format }}</td>
												<td>{{ item.discount | number_format }}</td>
												<td>{{ item.tax | number_format}}</td>
												<td>{{ item.bs| number_format }}</td>
											</tr>
										{% endif %}
									{% endfor %}
								</tbody>
							</table>
						</div>
						<!-- END Table -->
						<div class="block block-rounded">
							جمع کل فاکتور:
							{{ doc.amount | number_format }}
						</div>
						<div class="block block-rounded">
							توضیحات:
							{{ doc.des }}
						</div>
						<div class="block block-rounded">
							<div class="block-header block-header-default">
								<h3 class="block-title">سوابق پرداخت‌ها</h3>
								<div class="block-options">
									<div class="block-options-item">
										وضعیت پرداخت‌ها:
										{% if totalPays < doc.amount %}
											<b class="text-danger">تسویه نشده</b>
										{% else %}
											<b class="text-success">تسویه شده</b>
										{% endif %}
									</div>
								</div>
							</div>
							<div class="block-content p-0">
								<div class="table-responsive push text-center">
									<table class="table table-bordered">
										<thead class="bg-body">
											<tr>
												<th class="text-center" style="width: 60px;">ردیف</th>
												<th>روش پرداخت</th>
												<th>تاریخ</th>
												<th class="text-center">مبلغ</th>
												<th class="text-center">شماره پیگیری/سند</th>
												<th class="text-center">توضیحات</th>
											</tr>
										</thead>
										<tbody>
											{% for item in doc.relatedDocs %}
												<tr>
													<td>{{ loop.index }}</td>
													{% if item.type == 'walletPay' %}
														<td class="text-success">
															<i class="fa fa-wallet"></i>پرداخت آنلاین</td>
													{% else %}
														<td class="text-primary">
															<i class="fa fa-file"></i>سند حسابداری</td>
													{% endif %}
													<td>{{ item.date}}</td>
													<td>{{ item.amount | number_format }}</td>
													<td>{{ item.code }}</td>
													<td>{{ item.des }}</td>
												</tr>
											{% endfor %}
											<tr class="">
												<td class="fw-bold text-uppercase text-end bg-body-light" colspan="5">جمع کل</td>
												<td class="fw-bold text-end bg-body-light">{{ totalPays | number_format }}
													{{doc.money.shortName}}
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!-- Footer -->
						<a href="{{twigFunctions.getStaticData('system', 'appUrl')}}" class="p-4 mb-3text-primary text-center my-5">
							{{twigFunctions.getStaticData('system', 'appName')}}
							<label class="text-muted">سامانه جامع مالی رایگان ، ابری و متن باز</label>
						</a>
						<!-- END Footer -->
					</div>
				</div>
			</div>
			<!-- END Invoice -->
		</div>
		<!-- END Page Content -->
	</main>
{% endblock %}
