{% extends "base-betheme.html.twig" %}
{% block title %}داستان حسابیکس
{% endblock %}
{% block body %}
	<div id="Content">
		<div class="section mcb-section full-width" style="padding-top: 120px; padding-right: 15%; padding-left: 15%; background-image: url({{ asset('betheme/wallet2/images/wallet2-section-bg2.png') }}); background-repeat: repeat-x; background-position: center top;">
			<div class="row">
				<div class="col-12" data-col="one" style="padding: 0 1%;">
					<div class="column_attr clearfix align_center mobile_align_center">
						<h6 class="wallet2-heading">
							<i class="icon-box"></i>
							حسابیکس ، گامی به جلو...</h6>
						<h1>
							حسابیکس
							<span class="themecolor">
								چطور ایجاد شد؟
							</span>
						</h1>
						<img src="{{ asset('betheme/wallet2/images/wallet2-icon1.svg') }}">
						<hr class="no_line" style="margin: 0 auto 15px auto;">
						<p>
							مدل کسب و کار ما با سایر شرکت‌ها متفاوت است. در واقع حسابیکس برای نقد سایر شرکت‌های ارائه دهنده خدمات حسابداری و به چالش کشیدن مدل درآمد آنها به وجود آمد. همه‌ی ما می‌دانیم هر کسب‌وکاری زمان‌هایی دارای افول بوده و شاید در مرحله نابودی باشند در این زمان دسترسی به اطلاعات حسابداری کسب‌و‌کار از مهمترین چالشها و تحلیل این اطلاعات است اما متاسفانه با توجه به بازار نرم افزار‌های حسابداری که روز به روز به سمت گران‌تر شدن قیمت خدمات پیش می‌روند در پیچ‌های تاریخی کسب‌وکارها را تنها می‌گذارند
						</p>
						<p>
							احتمالا بعد از آنکه اوضاع خوب پیش نمی رود و چند ماهی فروش نداشته‌اید کم کم اکانت حسابداری شما در حال به اتمام رسیدن است و در مهمترین قسمت کار که قصد اتخاذ تصمیمات مهم را دارید متاسفانه به یکباره این اطلاعات از دسترستان خارج می‌شود.
						</p>
						<p>
							حسابیکس دقیقا در نقطه مقابل این ماجرا به وجود آمده است. که برای یک کسب و کار بتوان به صورت رایگان  از کلیه امکانات آن استفاده کرد. اگر تبلیغات را دوست ندارید می توانید با پرداخت هزینه اندک این تبلیغات را پنهان کنید. اگر با دانش برنامه نویسی آشنایی دارید همه‌چیز برای توسعه حسابیکس توسط شما مهیاست.تست کنید ، توسعه دهید و شاید دوست داشته باشید یکی مثل حسابیکس ایجاد کنید. حسابیکس متن باز است و دسترسی به کد منبع آن از طریق
							                                github در دسترس است.
						</p>
					</div>
				</div>
				<div class="col-12" data-col="one">
					<div class="image_frame image_item no_link scale-with-grid no_border">
						<div class="image_wrapper"><img class="scale-with-grid" src="{{ asset('betheme/wallet2/images/wallet2-about-pic1.webp') }}" alt="wallet2-about-pic1" width="1622" height="548"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="section mcb-section equal-height" style="padding-top: 90px; padding-bottom: 50px; background-color: #ffffff;">
			<div class="container">
				<div class="row" data-col="one">
					<div class="col-12">
						<div class="column_attr clearfix align_center">
							<h2 style="color: #000;">امکانات متمایز حسابیکس</h2>
							<img class="scale-with-grid" src="{{ asset('betheme/wallet2/images/wallet2-icon1.svg') }}">
						</div>
					</div>
					<div class="col-12" data-col="one">
						<hr class="no_line" style="margin: 0 auto 90px auto;">
					</div>
				</div>
				<div class="wrap mcb-wrap one column-margin-20px valign-top clearfix" data-col="one">
					<div class="container">
						<div class="row">
							<div class="col-md-4 column_hover_color">
								<div class="hover_color align_" style="background-color: #f4f4f4;" ontouchstart="this.classList.toggle('hover');">
									<div class="hover_color_bg" style="background-color: #fbfbfb;">
										<div class="hover_color_wrapper" style="padding: 40px 30px;">
											<img class="scale-with-grid" src="{{ asset('betheme/wallet2/images/wallet2-about-pic2.svg') }}">
											<hr class="no_line" style="margin: 0 auto 15px auto;">
											<h5>
												<span style="color: #12304a;">بودجه</span>
											</h5>
											<p>
												<span style="color: #12304a;">حسابیکس عملا رایگان است و تنها برای یک سری امکانات اضافه در صورت نیاز هزینه‌ای اندک پرداخت می‌کنید</span>
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 column_hover_color">
								<div class="hover_color align_" style="background-color: #f4f4f4;" ontouchstart="this.classList.toggle('hover');">
									<div class="hover_color_bg" style="background-color: #fbfbfb;">
										<div class="hover_color_wrapper" style="padding: 40px 30px;">
											<img class="scale-with-grid" src="{{ asset('betheme/wallet2/images/wallet2-about-pic3.svg') }}">
											<hr class="no_line" style="margin: 0 auto 15px auto;">
											<h5>
												<span style="color: #12304a;">گزارشات متنوع</span>
											</h5>
											<p>
												<span style="color: #12304a;">حسابیکس دارای متنوع ترین فهرست از گزارشات مالی است و تمام بخش‌های نرم افزار دارای خروجی‌های اکسل و PDF است.</span>
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 column_hover_color">
								<div class="hover_color align_" style="background-color: #f4f4f4;" ontouchstart="this.classList.toggle('hover');">
									<div class="hover_color_bg" style="background-color: #fbfbfb;">
										<div class="hover_color_wrapper" style="padding: 40px 30px;">
											<img class="scale-with-grid" src="{{ asset('betheme/wallet2/images/wallet2-about-pic4.svg') }}">
											<hr class="no_line" style="margin: 0 auto 15px auto;">
											<h5>
												<span style="color: #12304a;">رایانش ابری</span>
											</h5>
											<p>
												<span style="color: #12304a;">حسابیکس به لطف استفاده از فناوری رایانش ابری به مراتب عملیات‌ها را از نرم‌افزار‌های سنتی سریع‌تر انجام می‌دهد.</span>
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12" data-col="one">
								<hr class="no_line" style="margin: 0 auto 50px auto;">
							</div>
						</div>
					</div>
				</div>
				<div class="wrap mcb-wrap one valign-top clearfix" data-col="one">
					<div class="container">
						<div class="row">
							<div class="col-md-4 column_hover_color">
								<div class="hover_color align_" style="background-color: #f4f4f4;" ontouchstart="this.classList.toggle('hover');">
									<div class="hover_color_bg" style="background-color: #fbfbfb;">
										<div class="hover_color_wrapper" style="padding: 40px 30px;">
											<img class="scale-with-grid" src="{{ asset('betheme/wallet2/images/wallet2-about-pic5.svg') }}">
											<hr class="no_line" style="margin: 0 auto 15px auto;">
											<h5>
												<span style="color: #12304a;">امنیت داده</span>
											</h5>
											<p>
												<span style="color: #12304a;">از کلیه اطلاعات کاربران در طول شبانه روز به صورت اتوماتیک نسخه پشتیبان تهیه و همچنین اطلاعات به صورت همزمان در دو مرکز داده متفاوت ذخیره می‌شوند.</span>
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 column_hover_color">
								<div class="hover_color align_" style="background-color: #f4f4f4;" ontouchstart="this.classList.toggle('hover');">
									<div class="hover_color_bg" style="background-color: #fbfbfb;">
										<div class="hover_color_wrapper" style="padding: 40px 30px;">
											<img class="scale-with-grid" src="{{ asset('betheme/wallet2/images/wallet2-about-pic6.svg') }}">
											<hr class="no_line" style="margin: 0 auto 15px auto;">
											<h5>
												<span style="color: #12304a;">تصمیم گیری مالی</span>
											</h5>
											<p>
												<span style="color: #12304a;">حسابیکس به شما کمک می‌کند اطلاعاتی شفاف و دقیق از وضعیت کسب‌و‌کار خود در لحظه داشته باشید.</span>
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 column_hover_color">
								<div class="hover_color align_" style="background-color: #f4f4f4;" ontouchstart="this.classList.toggle('hover');">
									<div class="hover_color_bg" style="background-color: #fbfbfb;">
										<div class="hover_color_wrapper" style="padding: 40px 30px;">
											<img class="scale-with-grid" src="{{ asset('betheme/wallet2/images/wallet2-about-pic7.svg') }}">
											<hr class="no_line" style="margin: 0 auto 15px auto;">
											<h5>
												<span style="color: #12304a;">چند کاربر
												</span>
											</h5>
											<p>
												<span style="color: #12304a;">در حسابیکس چندین کاربر می‌توانند به صورت همزمان بر روی یک کسب و کار فعالیت داشته باشند و امکان اعمال محدودیت و دسترسی برای کاربران قابل انجام است.</span>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section mcb-section" style="padding-top: 90px; padding-bottom: 90px;">
			<div class="container">
				<div class="row">
					<div class="col-12" data-col="one">
						<div class="column_attr clearfix align_center mobile_align_center">
							<h6 class="wallet2-heading">
								<i class="icon-wallet-line"></i>مخازن پروژه</h6>
							<h2>دسترسی به کد منبع محصولات ما</h2>
							<img class="scale-with-grid" src="{{ asset('betheme/wallet2/images/wallet2-icon1.svg') }}">
							<hr class="no_line" style="margin: 0 auto 15px auto;">
							<p>
								حسابیکس به صورت متن‌باز ارائه شده و دسترسی به کد منبع محصولات از طریق GitHub در دسترس می‌باشد.
							</p>
						</div>
					</div>
					<div class="col-12" data-col="one">
						<hr class="no_line" style="margin: 0 auto 50px auto;">
					</div>
					<div class="col-md-4" data-col="one-third" style="padding: 0 1% 20px;">
						<div class="column_attr clearfix align_center" style="background-color: #fff; padding: 25px 30px 10px; border-radius: 0 0 12px 12px;">
							<a class="" href="https://github.com/morrning/hesabixUI.git" target="_blank">
								<h5 style="color: #000;">Hesabix UI</h5>
							</a>
							<h6 class="wallet2-heading begray">رابط کاربری تحت وب</h6>
							<p>
								<span style="color: #12304a;">
									ما برای ساخت رابط کاربری حسابیکس از VueJs 3 
									                                    به همراه Bootstrap 5 استفاده کردیم.جدیدترین تکنولوژی‌های روز...
								</span>
							</p>
						</div>
					</div>
					<div class="col-md-4" data-col="one-third" style="padding: 0 1% 20px;">
						<div class="column_attr clearfix align_center" style="background-color: #fff; padding: 25px 30px 10px; border-radius: 0 0 12px 12px;">
							<a class="" href="https://github.com/morrning/hesabixCore.git" target="_blank">
								<h5 style="color: #000;">Hesabix Core</h5>
							</a>

							<h6 class="wallet2-heading begray">قلب تپنده ، رابط API</h6>
							<p>
								<span style="color: #12304a;">هسته حسابیکس توسط جدیدترین نسخه فریمورک Symfony نسخه ۷ توسعه داده شده و به لطف doctrine از طیف وسیعی از پایگاه های داده پشتیبانی می‌کند.</span>
							</p>
						</div>
					</div>
					<div class="col-md-4" data-col="one-third" style="padding: 0 1% 20px;">
						<div class="column_attr clearfix align_center" style="background-color: #fff; padding: 25px 30px 10px; border-radius: 0 0 12px 12px;">
							<a class="" href="https://github.com/morrning/hesabixBox.git" target="_blank">
								<h5 style="color: #000;">Hesabix Box</h5>
							</a>
							<h6 class="wallet2-heading begray">
								رابط لایه سیستم‌عامل ویندوز</h6>
							<p>
								<span style="color: #12304a;">دسترسی به پرینتر‌های ابری و سایر تجهیزات از جمله بارکدخوان‌ها و ترازو‌های دیجیتال از طریق این نرم‌افزار صورت می‌گیرد که با زبانVB.NET و دات نت نسخه 4 توسعه داده شده است.</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section mcb-section equal-height-wrap" style="padding-top: 60px; padding-bottom: 40px; background-color: #c0f8d1; background-image: url(images/wallet2-section-bg3.svg); background-repeat: repeat; background-position: center;">
			<div class="container">
				<div class="row">
					<div class="col-md-3" data-col="one-fourth">
						<div class="image_frame image_item no_link scale-with-grid no_border">
							<div class="image_wrapper"><img class="scale-with-grid" src="{{ asset('betheme/wallet2/images/wallet2-home-pic4.png') }}" alt="wallet2-home-pic4" width="780" height="565"></div>
						</div>
					</div>
					<div class="col-md-6" data-col="one-second">
						<div class="column_attr clearfix align_center" style="padding: 0 5%;">
							<h2>
								<span style="color: #12304a;">حسابیکس با کمک‌های مالی شما به روز می‌شود.حتی با خرید یک چایی ....</span>
							</h2>
						</div>
					</div>
					<div class="col-md-3" data-col="one-fourth">
						<hr class="no_line" style="margin: 0 auto 40px auto;">
						<div class="button_align align_center">
							<a target="_blank" class="button button_full_width button_size_2" href="https://zarinp.al/hesabix.ir">
								<span class="button_label">حمایت از پروژه</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
