{% extends "base.html.twig" %}
{% block title %}{{ item.title }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="block-content bg-white rounded-3">
                    <div class="pb-3">
                        <h3 class="mb-3">مستندات API</h3>
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <ul class="list-group">
                                    {% for cat in cats %}
                                    <li class="list-group-item">
                                        <a href="{{ path('general_help_api',{'id':cat.id}) }}">
                                            {{ cat.title }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-sm-12 col-md-8">
                                <h3 class="mb-3">{{ block('title') }}</h3>
                                <p>{{ item.body | raw }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}