{% extends "base.html.twig" %}
{% block title %}راهنمای بخش {% if items | length != 0 %}{{ items.0.cat }}{% endif %}{% endblock %}
{% block description %}{{ block('title') }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="block-content bg-white rounded-3">
                    <div class="pb-3">
                        <h3 class="mb-3">راهنمای استفاده از حسابکس</h3>
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <ul class="list-group mb-3">
                                    <li class="list-group-item">
                                        <a href="/front/help/guide/general">
                                            نگاه کلی
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="/front/help/guide/person">
                                            اشخاص (طرف حساب ها)
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="/front/help/guide/commodity">
                                            کالاها و خدمات
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="/front/help/guide/banks">
                                            مدیریت حساب های بانکی،تنخواه‌گردان،صندوق‌ها و انتقال بین حساب‌ها
                                        </a>
                                    </li><li class="list-group-item">
                                        <a href="/front/help/guide/buy">
                                            خرید و هزینه
                                        </a>
                                    </li><li class="list-group-item">
                                        <a href="/front/help/guide/sell">
                                            فروش و درآمد
                                        </a>
                                    </li><li class="list-group-item">
                                        <a href="/front/help/guide/reports">
                                            گزارشات
                                        </a>
                                    </li><li class="list-group-item">
                                        <a href="/front/help/guide/settings">
                                            تنظیمات
                                        </a>
                                </ul>
                            </div>
                            <div class="col-sm-12 col-md-8">
                                {% if items | length == 0 %}
                                    <div class="text-center">
                                        <h3 class="text-warning">
                                            فعلا راهنمایی وجود ندارد.
                                        </h3>
                                    </div>
                                {% else %}
                                    <div class="accordion" id="accordionExample">
                                        {% for item in items %}
                                            <div class="accordion-item">
                                                <h2 class="accordion-header">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ item.id }}" aria-expanded="true" aria-controls="collapseOne">
                                                        <i class="fa fa-fast-backward me-2"></i>
                                                        {{ item.title}}
                                                    </button>
                                                </h2>
                                                <div id="collapse{{ item.id }}" class="accordion-collapse collapse {% if loop.first %}show{% endif %}" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body bg-white">
                                                        {{ item.body | raw }}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}