{% extends "base.html.twig" %}
{% block title %}نرم افزار حسابداری آنلاین ، متن باز و کاملا رایگان{% endblock %}
{% block body %}
    <div class="px-4 py-3 text-center rounded-4 bg-light">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h1 class="fw-bold text-primary-darker">
                    <img class="" src="/img/logo-blue.png" alt="حسابیکس لوگو" width="72" height="72">
                    حسابداری آنلاین حسابیکس</h1>
                <p class="lead mb-4">
                    برای کار با حسابیکس فقط به یک دستگاه متصل به اینترنت نیاز دارید، فرقی نمی‌کند که این دستگاه تبلت یا موبایل باشد یا اینکه رایانه و لپ تاپ.
                    نیاز نیست که هیچگونه نرم افزاری را نصب کنید. کافیست در سایت ثبت نام کرده و بلافاصله کسب و کار خود را مدیریت کنید.
                </p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a href="https://app.hesabix.ir/user/login" class="btn btn-primary btn-lg px-4 gap-3">
                        <i class="fa fa-door-open"></i>
                        ورود | عضویت رایگان
                    </a>
                    <button href="http://insider.hesabix.ir" disabled="disabled" class="btn btn-outline-warning btn-lg px-4 gap-3">
                        <i class="fa fa-door-open"></i>
                        پیش‌نمایش (فعلا غیرفعال است)
                    </button>
                    {% if is_granted('ROLE_ADMIN')%}
                        <a href="/app/dashboard" class="btn btn-alt-danger btn-lg px-4 gap-3">
                            <i class="fa fa-door-open"></i>
                            پنل مدیریت
                        </a>
                    {% endif %}
                </div>


            </div>
            <div class="col-sm-12 col-md-6">
                <img alt="پیش نمایش حسابیکس" class="img-fluid img-thumbnail" src="/img/cover.jpg" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row items-push py-5">
            <div class="col-sm-3 col-xl-3 mb-2">
                <a class="block block-rounded block-fx-pop text-center h-100 mb-0 border border-primary" href="javascript:void(0)">
                    <div class="block-content block-content-full">
                        <div class="item item-circle bg-primary-lighter mx-auto my-3">
                            <i class="fa fa-users text-primary"></i>
                        </div>
                        <div class="display-5 fw-bold">{{ users | number_format}}</div>
                        <div class="text-muted mt-1">کاربران</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3 col-xl-3 mb-2">
                <a class="block block-rounded block-fx-pop text-center h-100 mb-0 border border-primary" href="javascript:void(0)">
                    <div class="block-content block-content-full">
                        <div class="item item-circle bg-xinspire-lighter mx-auto my-3">
                            <i class="fa fa-home-user text-xinspire-dark"></i>
                        </div>
                        <div class="display-5 fw-bold">{{ business | number_format }}</div>
                        <div class="text-muted mt-1">کسب‌و‌کارها</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3 col-xl-3 mb-2">
                <a class="block block-rounded block-fx-pop text-center h-100 mb-0 border border-primary" href="javascript:void(0)">
                    <div class="block-content block-content-full">
                        <div class="item item-circle bg-xsmooth-lighter mx-auto my-3">
                            <i class="fa fa-paperclip text-xsmooth"></i>
                        </div>
                        <div class="display-5 fw-bold">{{ docs | number_format }}</div>
                        <div class="text-muted mt-1">اسناد</div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3 col-xl-3 mb-2">
                <a class="block block-rounded block-fx-pop text-center h-100 mb-0 border border-primary" href="javascript:void(0)">
                    <div class="block-content block-content-full">
                        <div class="item item-circle bg-xplay-lighter mx-auto my-3">
                            <i class="fa fa-box text-xplay"></i>
                        </div>
                        <div class="display-5 fw-bold">11,149,174</div>
                        <div class="text-muted mt-1">کالاها‌و‌خدمات</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 mb-2">
                <div class="col-12 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-primary-dark">حسابیکس چیست؟</h5>
                            <p class="card-text">
                                حسابیکس اولین نرم افزار کامل حسابداری تحت وب است. این نرم افزار بر اساس فناوری رایانش ابری ساخته شده است. یعنی کلیه اطلاعات شما بر روی سرورهای حسابیکس قرار می گیرد. ما امنیت اطلاعات و حریم خصوصی کلیه کاربران را به طور کامل تضمین می کنیم. برای کار با حسابیکس فقط به یک دستگاه متصل به اینترنت نیاز دارید، فرقی نمی کند که این دستگاه تبلت یا موبایل باشد یا اینکه رایانه و لپ تاپ. نیاز نیست که هیچگونه نرم افزاری را نصب کنید. کافیست در سایت ثبت نام کرده و بلافاصله کسب و کار خود را مدیریت کنید.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-primary-dark">ساده و قدرتمند</h5>
                            <p class="card-text">
                                برای کار با حسابیکس فقط به یک دستگاه متصل به اینترنت نیاز دارید، مهم نیست که این دستگاه تبلت یا موبایل باشد یا اینکه رایانه و لپ تاپ.
                                نیاز نیست که هیچگونه نرم افزاری را نصب کنید. کافیست در سایت ثبت نام کرده و بلافاصله کسب و کار خود را مدیریت کنید.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 mb-2">
                <div class="row">
                    <div class="col-12 mb-2">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-primary-dark">نقاط قوت و تمایز</h5>
                                <p class="card-text">
                                     در حسابیکس می توانید فاکتورهای مشتریان را به صورت آنلاین برای آنها ارسال کنید، مشتری نیز می تواند فاکتور یا حتی مانده بدهی خود را به صورت آنلاین پرداخت کند. کلیه اسناد مربوطه نیز توسط نرم افزار به صورت اتوماتیک صادر می شوند. از سوی دیگر ذینفعان کسب و کار شما، مانند مشتریان یا تامین کنندگان، می توانند به صورت آنلاین و بروز، کارت حساب خود را مشاهده کنند.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-2">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-primary-dark">سریع و به روز</h5>
                                <p class="card-text">
                                    با وجود اینکه حسابیکس بر روی بستر اینترنت ارائه می شود، این نرم افزار بسیار سریع است. تجربه کاربری ارائه شده در حسابیکس نه تنها از لحاظ سرعت با نرم افزارهای تحت ویندوز رقابت می کند بلکه در بسیاری از موارد عملیات را سریعتر انجام می دهد. به علاوه حسابیکس همیشه بروز است. هر زمان که به سیستم وارد می شوید، آخرین نسخه از نرم افزار در دسترس شما قرار می گیرد. این امکانات به رایگان در اختیار کلیه کاربران قرار می گیرد. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="block block-rounded block-transparent">
                    <div class="bg-image">
                        <div class="block-content block-content-full bg-white rounded-2">
                            <div class="row px-0 justify-content-sm-between align-items-center">
                                <div class="col-sm-12">
                                    <h4 class="mb-2 text-primary-dark">
                                        <i class="fa fa-user-plus"></i>
                                        جدیدترین عضو حسابیکس...
                                    </h4>
                                    <p class=" mb-sm-0">
                                        به جدیدترین عضو حسابیکس
                                        <span class="text-primary">{{ lastBusinessOwner }}</span>
                                        که کسب‌و‌کار خود را با نام
                                        <span class="text-primary">{{ lastBusinessName }}</span>
                                        ایجاد کرده‌اند خوش‌آمد می‌گوییم.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content content-boxed mt-0 pt-0">
        <h3>وبلاگ حسابیکس</h3>
        <div class="row items-push">
            {% for item in blogPosts %}
                <div class="col-sm-12 col-md-4">
                    <a class="block block-rounded block-transparent d-md-flex align-items-md-stretch bg-image h-100 mb-0 js-click-ripple-enabled" data-toggle="click-ripple" href="{{ path('general_blog_post',{'url':item.url}) }}" style="background-image: url('/blog/media/{{ item.img }}'); overflow: hidden; position: relative; z-index: 1;">
                        <div class="block-content block-content-full bg-black-50">
                            <span class="d-inline-block py-1 px-2 rounded bg-black-75 fs-sm fw-bold text-uppercase text-white">{{ item.cat.label }}</span>
                            <div class="py-6">
                                <div class="fs-sm mb-2">
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-star text-warning"></i>
                                </div>
                                <h3 class="fw-bold text-white mb-1">{{ item.title }}</h3>
                            </div>
                            <span class="fs-sm fw-bold text-uppercase text-white-75">
                        {{ item.submitter.fullname}} | {{ Jdate.jdate('Y/n/d',item.dateSubmit)}} </span>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}