{% extends "blank.html.twig" %}
{% block title %}ورود به حسابیکس{% endblock %}
{% block body %}
    <div id="page-container">
        <!-- Main Container -->
        <main id="main-container">
            <!-- Page Content -->
            <div class="bg-image" style="background-image: url('/assets/media/photos/photo21.jpg');">
                <div class="row g-0 justify-content-center bg-primary-dark-op">
                    <div class="hero-static col-sm-8 col-md-6 col-xl-4 d-flex align-items-center p-2 px-sm-0">
                        <!-- Sign In Block -->
                        <div class="block block-transparent block-rounded w-100 mb-0 overflow-hidden">
                            <div class="block-content block-content-full px-lg-5 px-xl-6 py-4 py-md-5 py-lg-6 bg-body-extra-light">
                                <!-- Header -->
                                <div class="mb-2 text-center">
                                    <a class="link-fx fw-bold fs-1" href="{{ path('general_home') }}">
                                        <span class="text-dark">حساب</span><span class="text-primary">یکس</span>
                                    </a>
                                    <p class="text-uppercase fw-bold fs-sm text-muted"> ورود </p>
                                </div>
                                <!-- END Header -->
                                {% if msg %}
                                    <div class="alert alert-success mb-2">تبریک! حساب کاربری شما ایجاد شد. لطفا با اطلاعات ثبت نام به حساب کاربری خود وارد شوید.</div>
                                {% endif %}
                                {% if error %}
                                    <div class="alert alert-danger mb-2">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}
                                <form action="{{ path('front_user_login') }}" method="post">
                                    <div class="form-floating mb-3">
                                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}">
                                        <label>پست الکترونیکی</label>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <input class="form-control" type="password" id="password" name="_password">
                                        <label>کلمه عبور</label>
                                    </div>
                                    <input type="hidden" name="_target_path" value="/">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    <div class="d-sm-flex justify-content-sm-between align-items-sm-center text-center text-sm-start mb-4">
                                        <div class="form-check">
                                            <input checked="" class="form-check-input" id="login-remember-me" name="login-remember-me" type="checkbox">
                                            <label class="form-check-label" for="login-remember-me">مرا به خاطر بسپار</label>
                                        </div>
                                        <div class="fw-semibold fs-sm py-1">
                                            <a href="javascript:void(0)">رمز عبور را فراموش کرده اید؟</a>
                                        </div>
                                    </div>
                                    <div class="text-center mb-3">
                                        <button class="btn btn-hero btn-primary" type="submit">
                                            <i class="fa fa-fw fa-sign-in-alt opacity-50 me-1"></i> ورود </button>
                                    </div>
                                </form>
                            </div>
                            <div class="block-content bg-body">
                                <div class="d-flex justify-content-center text-center push">
                                    <a class="btn btn-sm btn-alt-secondary" href="/">
                                        <i class="fa fa-home"></i>
                                        صفحه نخست
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}